:root {
  --main-font-other-color: #e85353;
}

body {
  background: #151515;
}

#cube {
  position: absolute;
  display: inline;
  right: 0px;
  top: 2px;
  width: 180px;
  height: 180px;
  z-index: -1;
}

header h1:before {
  content: "~ #: ";
  font-size: 24px;
}

header {
  border-bottom: 1px dashed var(--main-font-other-color);
}

header h1 {

  color: var(--main-font-other-color);

}

h1, h2, h3, h4, h5, h6 {
  color: var(--main-font-other-color);
}

ul li:before {
  color: var(--main-font-other-color);
}

pre {
  color: #53b9e8;
}

th {
  border-bottom: 1px dashed var(--main-font-other-color);
}

hr {
  border-bottom: 1px dashed var(--main-font-other-color);
  color: var(--main-font-other-color);
}
